{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Pyngo
      </li>
      <li class="list-group-item">
        Djaton
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Never gonna give you up</p>
    <p>Never gonna let you down</p>
    <p>Never gonna run around and desert you</p>
    <p>Never gonna make you cry</p>
    <p>Never gonna say goodbye</p>
    <p>Never gonna tell a lie and hurt you</p>
  </article>
</div>
{% endblock %} 