{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}
	Подписки
{% endblock %}

{% block content %}
<div class="container">
  {% include 'posts/includes/switcher.html' with follow=True %}
  <h1>Подписки на авторов</h1>
  {% for post in page_obj %}
  {% include 'includes/post.html' %}
    {% if post.group %}
    <a href="{% url 'posts:group_posts' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
 {% endblock %}